<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://bootswatch.com/slate/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Checkout all of your past growls!</p>
    <div>

    </div>
  </body>
</html>
